@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-Regular.ttf') format("ttf"),
    url('../fonts/OpenSans-Regular.woff') format("woff"),
    url('../fonts/OpenSans-Regular.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-Bold.ttf') format("ttf"),
    url('../fonts/OpenSans-Bold.woff') format("woff"),
    url('../fonts/OpenSans-Bold.woff2') format("woff2");

  font-weight: 700;
  font-style: normal;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 15px 0;
  padding: 0;

}

ul {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* Баннер */

.header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 121px;
  background-image: url(../images/banner-bg.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #666666;
  text-transform: uppercase;
  text-align: center;
  z-index: 0;
}

.header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.menu {
  box-sizing: border-box;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 18px 0;
  margin: 0 auto 100px;
}

.menu-list {
  display: flex;
  font-size: 13px;

}

.menu-items {
  display: flex;
  list-style-type: none;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
}

.menu-link:hover {
  text-decoration: underline;
}

.menu-item {
  margin-left: 34px;
}

.menu-logo {
  width: 179px;
}

.intro {
  padding: 0 29vw;
  text-align: center;
}

.welcome-title {
  font-size: 45px;
  font-weight: bold;
  line-height: 1.7;
  color: #ffffff;
}


/* Тренды */


.trends-title {
  margin-top: 60px;
}

.title {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: bold;

}


.title::after {
  margin: 5px auto 28px;
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background: #b59f5b;
}


.trends-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.trend {
  position: relative;
  box-sizing: border-box;

  display: flex;
  align-items: end;
  justify-content: center;
  min-height: 320px;
  width: 24.7%;
  text-transform: uppercase;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

.trend::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.first-trend {
  background-image: url(../images/trend1.jpg);
}

.second-trend {
  background-image: url(../images/trend2.jpg);
}

.third-trend {
  background-image: url(../images/trend3.jpg);
}

.fourth-trend {
  background-image: url(../images/trend4.jpg);
}



.trend-content {
  padding: 32px;
  margin: 0px 20px 16px;
  border: 3px solid #b59f5b;
}

.trend-name {
  margin-top: 8px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;

}

.trend-name-link {
  text-decoration: none;
  color: #ffffff;
}

.trend-name-link:hover {
  color: #b59f5b;
}


.container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  max-width: 1200px;
  padding: 65px 15px 0;
  margin: 0 auto;

}


/* Main, основной раздел */

.posts {
  width: 65%;
  margin-right: 23px;
}

.post:nth-child(odd) {
  margin-bottom: 57px;
}

.post:nth-child(even) {
  margin-bottom: 61px;
}


.post {
  display: flex;
}


.post-picture {
  object-fit: cover;
  width: 100%;
  height: 100%;

}

.post-content {
  margin-left: 30px;
  line-height: 0.6;
}

.post-tags {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.post-tags-link {
  margin-right: 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #b59f5b;
}

.post-tags-link:hover {
  text-decoration: underline;
}

.post-name {
  margin-top: 14px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}

.post-name-link {
  text-decoration: none;
  color: #000000;
}

.post-name-link:hover {
  color: #b59f5b;
}

.post-date {
  font-size: 12px;
  color: #888888;
}

.post-author {
  margin-left: 9px;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  color: #000000;
}

.post-text {
  margin-top: 51px;
  font-size: 15px;
  line-height: 1.3;
}

/* Aside, боковая колонка */

.sidebar {
  width: 271px;
  margin-left: 116px;
}


/* Заголовок блока Новые посты */

.aside-header {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.5;
}

/* Линия под заголовком */

.aside-header::after {
  margin: 17px auto 20px;
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background: #b59f5b;
}

/*новые посты */

.new-post {
  display: flex;
}

.new-post:nth-child(n + 2) {
  margin-top: 10px;
}

.new-post-name {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.3;
}

.new-post-img {
  margin-right: 18px;
  padding-top: 7px;
}



.new-post-picture {
  min-width: 70px;
  max-width: 70px;
  height: 70px;
  object-fit: cover;
}

/* Форма поиска */

.search {
  width: 100%;
  margin-top: 56px;
  margin-bottom: 62px;
}

.search-form {
  display: flex;
}

.field {
  box-sizing: border-box;
  width: 223px;
  height: 48px;
  padding: 18px;
  border: none;
  background-color: #f7f4f4;
  font-size: 13px;
  outline: none;
}

.field:focus {
  width: 223px;
  height: 48px;
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.search-button {
  margin: 0;
  width: 48px;
  height: 48px;
  border: none;

  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
  background-color: #b59f5b;
  cursor: pointer;
}

.search-button:hover {
  width: 48px;
  height: 48px;
  background-color: #323232;
}

/* Форма подписки */

.subscription-field {
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 18px;
  border: none;
  background-color: #f7f4f4;
  font-size: 13px;
  outline: none;
}

.subscription-field:focus {
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.subscription-button {
  margin-bottom: 62px;
  padding: 0;
  width: 100%;
  height: 48px;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  background-color: #b59f5b;
  cursor: pointer;
}

.subscription-button:hover {
  width: 270px;
  height: 48px;
  background-color: #323232;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Тэги */

.tags {
  padding-left: 0;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  width: 100%;
  padding-left: 0;

  list-style: none;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.tag-item {
  border: 3px solid #ededed;
  padding: 3px 14px;
  margin-top: 6px;
  margin-right: 5px;
}

.tag-list-link {
  text-decoration: none;
  color: #000000;
}

.tag-list-link:hover {
  color: #0f0d0e;
}

/* Темы */

.topics {
  margin-top: 63px;
  padding-left: 0;
}

.topics-header {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.5;
}

/* Линия под заголовком */

.topics-header::after {
  margin: 17px auto 2px;
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background: #b59f5b;
}

.topic-list {
  padding-left: 0;
  list-style: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
}

.topic-item {
  padding-bottom: 12px;
  padding-top: 18px;
  border-bottom: 1px solid #eeeeee;
}

.topic-list-link {
  text-decoration: none;
  color: #000000;
}

.topic-list-link:hover {
  color: #b59f5b;
}

.amount {
  margin-left: 5px;
  font-size: 12px;
  color: #b59f5b;
  vertical-align: super;
}

/* Магазин */

.products {
  max-width: 1200px;
  margin: 0 auto;
}

.pruduct-container {
  display: flex;
  justify-content: space-between;
}

.product-img {
  min-width: 300px;
}

.product-picture {
  object-fit: cover;
  width: 100%;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
}

.product-content {
  box-sizing: border-box;
  margin-top: -37px;
  padding: 45px 15px 30px;
  border: 3px solid #b59f5b;
  flex-grow: 1;
}

.product:not(:last-child) {
  margin-right: 3.6vw;
}

.product:first-child {
  margin-left: 0.9vw;
}

.product:last-child {
  margin-right: 0.9vw;
}


.product-description {
  margin-top: 5px;
  padding-left: 5px;
  font-size: 15px;
  color: #0f0d0e;

}

.product-link {
  text-decoration: none;
  color: #b59f5b;
}

.product-link:hover {
  text-decoration: underline;
}


.product-name {
  margin-top: 4px;
  padding-left: 5px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}

.buy {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 25px;
  padding-left: 5px;
  padding-right: 8px;
}

.invalid-price {
  font-size: 14px;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: bold;
}

.valid-price {
  font-size: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: bold;
}

.buy-btn {
  font-size: 14px;
  line-height: 2.8;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  width: 140px;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  cursor: pointer;
}

.buy-btn:hover {
  background-color: #323232;
}

/* footer */

.footer {
  padding-bottom: 41px;
}

.socials {
  margin: 64px auto 67px;
  max-width: 1170px;
  background-color: #f4f7f6;
}

.socials-list {
  display: flex;
  justify-content: center;
  padding-top: 31px;
  padding-bottom: 32px;
  padding-left: 28px;
  list-style: none;
}

.social-icon {
  display: block;
  margin-right: 27px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.social-icon-dribbble {
  background-image: url(../svg/001-dribbble.svg);
}

.social-icon-pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.social-icon-twitter {
  background-image: url(../svg/003-tumblr.svg);
}

.copyrights {
  font-size: 12px;
  font-weight: bold;
  color: #999999;
  text-align: center;
}

/* popup */

.popup {
  position: fixed;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  background: rgba(0, 0, 0, .6);
  top: 0;
  left: 0;
  display: none;
}

.close {
  width: 18px;
  height: 18px;
  background-image: url(../svg/form-x.svg);
  background-repeat: no-repeat;
  background-size: cover;

  background-color: transparent;
  border-radius: 2px;

  margin-left: 432px;
  margin-bottom: 8px;
  cursor: pointer;
}

.form {
  padding: 54px 30px;
  width: 390px;
  background-color: #ffffff;
}

.form-hint {
  display: block;
  margin-bottom: 12px;
}

.form-row {
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-left: 0;
}

.select {
  opacity: 0.6;
  width: 100%;
  padding: 20px;
  background-color: #f4f7f6;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 13px center;
  background-size: 7px 17px;
}

.select:focus {
  border: 1px solid #b59f5b;
}

.form-field {
  box-sizing: border-box;
  height: 130px;
  width: 100%;
  padding: 20px;
  background-color: #f4f7f6;
  resize: none;
}

.form-field:focus {
  border: 1px solid #b59f5b;
}

.radio-group-text {
  margin-right: 15px;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  margin-right: 8px;

}

.radio-group {
  display: inline-block;

}

.radio:checked+.radio-group-text::before {
  background-image: url(../svg/form-circle.svg);
}

.radio {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
}

.form-button {
  padding: 0;
  width: 100%;
  height: 48px;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  background-color: #b59f5b;
  cursor: pointer;
}

.form-button:hover {
  background-color: #323232;
}

@media (min-width: 1200px) {
  .menu-button {
    display: none;
  }

  .post-img {
    min-width: 381px;
    height: 295px;
  }
}



/* TABLET */

@media (min-width: 641px) and (max-width: 1199px) {

  /* Header */

  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
    padding-bottom: 108px;
  }

  .menu-logo {
    width: 158px;
    margin-top: 18px;

  }

  .menu {
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 78px;
  }

  /* Меню-бургер */



  .menu-items {
    display: none;
  }

  .menu-button {
    margin-top: 11px;
    width: 24px;
    height: 20px;
    border: none;
    padding: 0;

    background-color: transparent;
    font-size: 25px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
  }

  .menu-button:before,
  .menu-button:after {
    content: "";
    width: 100%;
    height: 20%;

    border-radius: 5px;
    background-color: #ffffff;

    position: absolute;
    left: 0;
  }

  .menu-button:before {
    top: 0;
  }

  .menu-button:after {
    bottom: 0;
  }

  .menu-button-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;

    border-radius: 5px;
    background-color: #ffffff;

    position: absolute;
    left: 0;
    top: 50%;
  }

  .intro {
    padding: 0 10vw;
  }

  .welcome-title {
    font-size: 40px;
    line-height: 1.5;
  }

  /* Тренды */

  .trend {
    width: 49.8%;
  }

  .title {
    font-size: 18px;
  }

  .title::after {
    margin-bottom: 22px;
  }

  .trends-title {
    margin-top: 43px;
  }

  .trend:nth-child(n+3) {
    margin-top: 4px;
  }

  .trend {
    min-height: 246px;
    background-position: center bottom;
  }

  .trend-content {
    padding: 30px;
    margin: 0px 20px 16px;
  }

  .trend-name {
    margin-top: 8px;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.2;

  }


  /* Посты */

  .container {
    justify-content: space-around;
    padding-left: 33px;
    padding-top: 50px;
    padding-right: 32px;
  }

  .posts {
    width: 51vw;
    margin-right: 0px;
  }

  .post {
    flex-wrap: wrap;
  }

  .post:nth-child(odd) {
    margin-bottom: 44px;

  }

  .post:nth-child(even) {
    margin-bottom: 40px;

  }

  .post-img {
    height: 302px;
    width: 100%
  }

  .post-name {
    font-size: 17px;
    margin-top: 14px;
    margin-bottom: 35px;
  }

  .post-content {

    margin-left: 0;
    margin-top: 17px;
    padding-bottom: 7px;

  }

  .post-content:not(last-child) {
    border-bottom: 3px solid #eeeeee;
  }

  .post-text {
    margin-top: 34px;
    padding-right: 25px;
  }


  /* Aside */

  .sidebar {
    margin-left: 33px;
  }

  .aside-header::after {
    margin: 19px auto;
  }

  /* Магазин */

  .pruduct-container {
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 10px;

  }

  .products-title::after {
    margin-bottom: 30px;

  }

  .product {
    width: 45%;
    align-content: center;
  }


  .product:nth-child(odd) {
    margin-left: 2.2vw;

  }

  .product:nth-child(n+3) {
    margin-top: 28px;

  }

  .product-name {
    font-size: 17px;
    padding-left: 0;
  }

  .product-content {
    padding-right: 8px;
  }

  .buy {
    align-items: flex-end;
  }

  .invalid-price {
    margin-bottom: 0;
  }

  .valid-price {
    margin-bottom: 0;
  }

  .footer {
    margin-left: 35px;
    margin-right: 35px;
  }

  .socials {
    margin: 45px auto;
  }

}


@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
  .trend {
    width: 100%;
  }

  .trend:not(first-of-child) {
    margin-top: 3px;

  }

  .trend-content {
    flex-grow: 1;
  }
}


/* Mobile */

@media (max-width: 640px) {

  .header {
    background-image: url(../images/banner-mobile.jpg);
    background-position: center top;
    padding-bottom: 200px;
  }

  .welcome-title {
    font-size: 24px;
    margin-top: 0;
  }

  .intro {
    padding-right: 1em;
    padding-left: 1em;
  }

  .menu {
    flex-direction: column-reverse;
    padding-top: 30px;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
  }

  .menu-list {
    align-self: flex-end;
  }

  .menu-logo {
    width: 269px;
    margin-top: 175px;
    margin-bottom: 25px;
  }


  /* Меню-бургер */

  .menu-items {
    display: none;
  }

  .menu-button {
    margin-right: 16px;
    width: 24px;
    height: 20px;
    border: none;
    padding: 0;

    background-color: transparent;
    font-size: 25px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
  }

  .menu-button:before,
  .menu-button:after {
    content: "";
    width: 100%;
    height: 20%;

    border-radius: 5px;
    background-color: #ffffff;

    position: absolute;
    left: 0;
  }

  .menu-button:before {
    top: 0;
  }

  .menu-button:after {
    bottom: 0;
  }

  .menu-button-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;

    border-radius: 5px;
    background-color: #ffffff;

    position: absolute;
    left: 0;
    top: 50%;
  }

  /* Тренды */

  .trend {
    width: 100%;
    min-height: 231px;
    background-position: center bottom;
  }


  .title {
    font-size: 16px;
  }

  .trends-title {
    margin-top: 39px;
  }

  .trends-title::after {
    margin: 5px auto 24px;
  }

  .trend:not(first-of-child) {
    margin-top: 2px;

  }

  .trend-content {
    flex-grow: 1;

    padding-left: 18px;
    padding-top: 25px;
    padding-bottom: 30px;
    margin: 0px 16px 16px;

  }

  .trend-name {
    margin-top: 8px;
    font-size: 16px;
  }

  /* Main, основной раздел */

  .container {
    min-width: 360px;
    flex-wrap: wrap;
    padding-top: 45px;
  }

  /* Посты */

  .posts {
    width: 100%;
    margin-right: 0;
  }

  .post {
    flex-direction: column;
  }

  .post:not(:last-child) {
    margin-bottom: 45px;
  }

  .post:last-child {
    margin-bottom: 0;
  }

  .post-img {
    width: 100%;
  }

  .post-name {
    flex-grow: 1;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .post-content {
    margin-left: 0;
    margin-top: 10px;

  }

  .post-text {
    margin-top: 21px;
    font-size: 14px;
  }

  /* Aside */

  .aside-header {
    font-size: 16px;
  }

  .sidebar {
    width: 100%;
    margin-left: 0;
    margin-top: 53px;
  }

  .new-post {
    width: 100%;
  }


  /* Форма поиска */

  .search {
    margin-bottom: 45px;
  }

  .search-group {
    width: 100%;
  }

  .field {
    width: 100%
  }

  .search-button {

    width: 54px;

  }

  /* Форма подписки */

  .subscription-button {
    margin-bottom: 47px;
  }


  /* Теги */

  .tag-list {
    justify-content: stretch;
  }

  .tag-item {
    padding-right: 12px;
    margin-right: 6px;
  }

  /* Топики */

  .topics {
    margin-top: 10px;
  }

  .topics-header {
    font-size: 16px;
  }


  /* Магазин */


  .products {
    margin-top: 38px;
  }


  .pruduct-container {
    flex-direction: column;
  }

  .pruduct-container>.product {
    width: 91vw;
    margin-left: 15px;

  }

  .product:nth-child(n+2) {
    margin-top: 25px;
  }

  .product-content {
    padding-bottom: 25px;
  }


  .invalid-price {
    margin-bottom: 0;
  }

  .valid-price {
    margin-bottom: 0;
  }

  /* Футер */

  .footer {
    margin-left: 15px;
    margin-right: 15px;
  }

  .socials {
    margin-top: 40px;
    margin-bottom: 45px;
  }

  /* popup */

  .form {
    padding: 30px 24px;
    max-width: 330px;
  }
}